---
import dogImage from "../images/404-dog.png";
---

<body class="bg-[#081710] text-white">
  <div class="h-screen justify-center">
    <center class="m-auto mt-24">
      <img class="w-[100%] animate-bounce-slow md:w-80" src={dogImage} />
      <div class="mt-4 tracking-widest">
        <span class="block text-4xl font-bold md:text-8xl">
          <span> 4 0 4</span>
        </span>
        <span class="px-4 text-3xl md:text-4xl">
          Sorry, We couldn't find what you are looking for! Heres a corgi in a
          space suit to cheer you up :)
        </span>
      </div>
    </center>
    <center class="mt-6">
      <a
        href="/"
        class="my-4 flex w-fit overflow-hidden rounded border-2 border-[#3BA576] px-8 py-4 text-7xl text-[#3BA576] hover:bg-[#3BA576] hover:text-black md:text-sm">
        Go back
      </a>
    </center>
  </div>
</body>
