---
/**
 * Contact Page
 */
 import MainLayout from "../layouts/MainLayout.astro";
import ContactForm from "../components/ContactForm.vue"
---
<MainLayout title="Portafolio: Francisco - Contact" activePage= "contact">
    <section class="bg-[#081710]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-12">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
               Contact Form
            </h1>
          <ContactForm/> 
        </div>
    </section>
</MainLayout>