---
/**
 * Home Page
 */
import MainLayout from "../layouts/MainLayout.astro";

//NOTE: JS here is treated like server side pre render
---
<MainLayout title="Portafolio: Francisco - Home" activePage= "home">
<p>hi</p>
</MainLayout>
