---
/**
 * Resume Page
 */
 import MainLayout from "../layouts/MainLayout.astro";
import ResumeItem from "../layouts/ResumeItem.astro";

---
<MainLayout title="Portafolio: Francisco - Resume" activePage= "resume">
    <h1>Resume</h1>A
    <div class="flex max-w-full justify-center">
        <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-xl dark:bg-gray-800 dark:border-gray-700">
         <img class="rounded-t-lg" src="resume.jpg" alt="">
        </div>
    </div>
</MainLayout>